

<!--歷史訂單-->



<div class="accordion" id="accordionExample">
    {% for post in posts %}
   

        <div class="accordion-item">
          <h2 class="accordion-header" id="{{post.orderid}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cc{{post.orderid}}" aria-expanded="false" aria-controls="cc{{post.orderid}}">
              訂單編號： {{post.orderid}}  送達地址： {{post.address}}　訂貨日期：{{post.date}}　出貨狀態：{{post.shippingstatus}}
            </button>
          </h2>
          <div id="cc{{post.orderid}}" class="accordion-collapse collapse" aria-labelledby="{{ps.orderid}}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              {% for tt in tt %}
              {% if tt.id == post.orderid %}
<p>菜名:{{tt.chname}} 數量:{{tt.number}}</p>
           
{% endif %}

              {% endfor %} 
            </div>
        </div>
      </div>


        {% endfor %} 
  





<!--



        <table>
    
        <tr>
            <td>訂單編號</td>
        <td>地址</td>
        <td>日期</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{post.orderid}}</td>
    <td>{{post.address}}</td>
    <td>{{post.date}}</td>
    </tr>
    {% endfor %} 
    </table>

-->







