title = "mem"
url = "/mem"
layout = "default"
is_hidden = 0
==
<?php

//會員自己要添加或修改自己資料的部分
function onFccc()
{


    $user = Auth::getUser();

    $usernumber = Db::table('dps_shopping_information')
    ->select('*')
    ->where('accountname', '=', $user->name)
    ->get();	

//將前端匯入後端
$cellphone = input('cellphone');
$add = input('add');
$old = input('old');
$blood = input('blood');
$gender = input('gender');
$threehigh = input('threehigh');

$diabetes = input('diabetes');
$tell = input('tell');
$high = input('high');



foreach ($usernumber as $usernumber) {

    $ccnumber = $usernumber ->serialnumber;
}

//將資料放入資料庫
Db::table('dps_shopping_information')
->where('accountname', $user->name)
->update(['cellphone' => $cellphone ,'address' => $add ,'old' => $old ,'blood' => $blood,'gender' => $gender]);

//echo '完成';


}




function onFcccc()
{
  
  $user = Auth::getUser();

  $usernumber = Db::table('dps_shopping_information')
  ->select('*')
  ->where('accountname', '=', $user->name)
  ->get();	

//將前端匯入後端

$threehigh = input('threehigh');

$diabetes = input('diabetes');
$tell = input('tell');
$high = input('high');



foreach ($usernumber as $usernumber) {

  $ccnumber = $usernumber ->serialnumber;
}

//將資料放入資料庫
Db::table('dps_shopping_information')
->where('accountname', $user->name)
->update(['threehigh' => $threehigh,'diabetes' => $diabetes,'tell' => $tell,'high' => $high]);

//echo '完成';

}







function onStart()
{
  $user = Auth::getUser();
if($user){
$this['useres'] = Db::table('dps_shopping_information')->where('accountname', '=', $user->name)->value('authority');



$this['cccd'] = Db::table('dps_shopping_information')
->select('*')
->where('accountname', '=', $user->name)
->get();	




}
  
  
  
                          

}




?>
==
{% if not user %}
	<script>
		window.location.href = "/food/on";
	</script>
{% endif %}

<div class="atuo">

    <div class="banner"></div>
    
        <div class="tt">
        <h1>三夜草新概念健康餐盒</h1>
    </div>
    
    <div class="man">

        <div class="out">







            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">個人資料</button>
   <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">健康資料</button>
              </nav>








                    


                <!--分頁內容-->
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    
                    {% partial 'site/member' %}

                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% for post in cccd %}
                    <form id="data_form4" class="fdd" data-request="onFccc">















                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">是否有三高:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" name="threehigh" value="{{post.threehigh}}">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">是否有糖尿病:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" name="diabetes" value="{{post.diabetes}}">
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">身高:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" name="tell" value="{{post.tell}}">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">體重:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" name="high" value="{{post.high}}">
                      </div>
                    </div>



                    </form>


                    <button type="submit" id="wss2" class="btn btn-outline-secondary">修改資料</button>




                    <script>
                      $(document).ready(function(){
                    $("#wss2").click(function(){
                      $('#data_form4').request('onFcccc', {
                          success: function() {
                    
                              Swal.fire({
                        title: '資料已修改',
                        text: '',
                        icon: 'success',
                        confirmButtonText: '完成'
                      });
                    
                          }
                      })
                    
                    });
                    });
                    
                    
                    
                    </script>
                    
                    





                    {% endfor %} 







                  </div>
                                  </div>












</div>

</div>


