<div class="fooder">
<!--網頁尾端-->
<div class="container">
    <div class="row">
      <div class="col-sm-4 fv">
<div class="txtttet fv"><h3>三夜草新概念健康餐盒</h3></div>



<p>@本網頁由三夜草公司版權所有</p>
      
    
    
    
    
    
    
    </div>

    <div class="col-sm-4 fv">
      <div class="txtttet fv"><h3>聯絡資訊</h3></div>
      
      
      
      <p>電子郵件:yes2000414@yahoo.com.tw</p>
            
      <p>GitHub:<a href="https://github.com/asd0961296920/ordering-system">https://github.com/asd0961296920/ordering-system</a></p>
          
          
          
          
          
          </div>
      


      <div class="col-sm-4 fv">

        <div class="col-sm-12 fv">





          <h4> 幫助</h4>
           <p> <a href="/food/customer">簡易客服機器人</a></p>
            <p> <a href="/food/introduce">公司介紹/宗旨</a></p>
                <p> <a href="/food/mem">會員服務中心</a></p>
    
    
            
          </div>


          <div class="col-sm-12 ">





            <h4>   其他資訊</h4>
    
            <p><a>製作人：林冠廷</a></p>
            <p>本網站只做展示用途</p>
            <p> <a></a></p>
    



          </div>





      </div>




      
    </div>
  </div>






    
</div>